[project]
name = "cf-ai-echo-journal"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = []

[dependency-groups]
dev = [
    "workers-runtime-sdk>=0.3.1",
]
